@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img src="~/northwind_group_cover.jpeg"  style="height:80%; width:80%"/>
<p style="text-align:justify;">Northwind is a fictional company often used as a sample database in tutorials and training materials
    for database management systems, particularly Microsoft Access and SQL Server. It represents a small international
    trading company that imports and exports specialty foods from around the world. The Northwind database includes various 
    interconnected tables such as Customers, Orders, Employees, Products, and Suppliers, allowing users to practice and
    understand relational database concepts through realistic business scenarios. 
    Its structured data and relationships make it a valuable tool for learning SQL queries, data modeling, and application development.
    </p>
</div>
